<li>
    <a class="dropdown-item" data-lookupEventId="{{lookup_event_id}}">{{event_name}}</a>
</li>

{{!-- <li{{#if lookupEvents}} class="dropdown-menu"{{/if}}>
    <a tabindex="-1" href="{{#if href}}{{href}}{{else}}#{{/if}}">{{event_name}}</a>
    {{#if items}}
      {{lookupEvents class="dropdown-menu" items=items}}
    {{/if}}
  </li> --}}