<li>
  <div class="row">
    <div class="col-md-2">{{ticket_name}}</div>
    <div class="col-md-2">{{location}}</div>
    <div class="col-md-6">{{description}}</div>
    <div class="col-md-2">{{price}}</div>
    {{!-- <div class="col-md-2">
      <button  class="trade-ticket" data-ticket_id="{{this.ticket_id}}" >Trade</button>
      <button class="buy-ticket" data-ticket_id="{{this.ticket_id}}">Buy</button>
    </div> --}}
  </div>
